:root{
    --primary-color:#eaecef82;
    --secondary-color:#9399A2;
    --accent-color:#293e60;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

.main{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0px 40px;
    gap: 20px;
}

.sidebar{
    background-color: var(--primary-color) ;
    backdrop-filter: blur(10px);
    width: 6rem;
    height: 48rem;
    margin: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    width: 40px;
    flex-basis: 20%;
    margin-top: 60px;
}

.sidebar-items{
    flex-basis: 80%;
    margin: 0 60px;
}

.logo img{
    width:100%;
}

.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 40px;
    cursor: pointer;
}

.items i{
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--secondary-color);
}

.items:hover i,
.items:hover p {
    color: var(--accent-color);
}


.items p{
    font-size: 0.87rem;
    font-weight: 500;
    color: var(--secondary-color);

}

.content{
    width: 55rem;
    height: 3rem;
    margin: 20px;
}

.searchbar{
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.searchbar i{
    margin-right: 20px;
    color:#9399A2;
    font-size: 1.5rem;
    cursor: pointer;
}

.searchbar input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0px 20px;
    font-size: 1rem;
}

.weather-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15rem;
    padding: 20px 60px;
    border-radius: 15px;
}

.weather-info .city{
    font-size: 2.5rem;
    color:var(--accent-color);
    line-height: 3.2rem;
}

.weather-info-content{
    height: 100%;
}
  
.weather-info p{
    font-size: 0.95rem;
    color: var(--secondary-color);
    
}
.temp{
    margin: 30px 0;
    display: flex;
}
.temp h1{
    font-size: 5rem;
    color: var(--accent-color);
}
.temp p{
    margin-left:-15px;
    font-size: 5rem;
    color: var(--accent-color);
}

.weather-info-image{
    width: 10rem;
    margin-top: -10px;
}
.weather-info-image img{
    width: 100%;
}


.forcast{
    width: 100%;
    height: 13rem;
    margin: 1rem 0;
    padding: 20px 30px;
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.forcast h3{
    font-size: 1rem;
    color: var(--secondary-color);
}

.forcast-container{
    /* background-color:aqua; */
    width: 100%;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.forcast-info{
    width: 6rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-right: 1px solid #9399a227;
}
.forcast-info:nth-child(6){
    border: none;
}

.forcast-info img{
    width: 3rem;
}

.degree{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-color);
}


.weather-info-air{
    width: 100%;
    height: 14rem;
    padding: 20px 40px 0 40px;
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.weather-info-air h3{
    font-size: 1rem;
    color: var(--secondary-color);
}

.extra-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 40px ;
    /* margin-left: 60px ; */
    width: 100%;
    height: 11rem;
}

.extra-content{
    width: 20rem;
    /* background-color: aqua; */
    text-align: center;
}

.extra-content h3{
    font-size: 1.28rem;
}

.extra-content h1{
    font-size: 2rem;
    margin-top: 5px;
    color: var(--accent-color);
}

.left-sidebar{
    background-color:var(--primary-color);
    backdrop-filter: blur(10px);
    width: 22rem;
    height: 48rem;
    margin: 20px 0;
    border-radius: 25px;
    /* text-align: center; */
}


.left-sidebar h3{
    margin: 20px;
    color: var(--secondary-color);
}

.week-container{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.weekly-forcast-container{
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom:1px solid #9399a227;
}

.weekly-forcast-container:nth-child(7){
    border:none;
}


.weekly-forcast-container img{
    width: 30px;
}

@media screen and (max-width: 1300px) {
    .sidebar{
        display: none;
    }
    .main{
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        /* flex-direction: column; */
    }
    .content{
        width: 100%;
    }

    .extra-container{
        width: 80%;
        margin-left: 10%;
    }
    
    .left-sidebar {
        display: none;
      }
  }

  @media(max-width:1020px){
    .extra-container{
        width: 100%;
        margin-left:0;
    }
    .extra-container{
        padding: 10px;   
    }
    .extra-content h3{
        font-size: 1rem;
    }
    .extra-content h1{
        font-size: 1.5rem;
    }
  }

  @media(max-width:840px){
    .extra-container{
        padding: 10px;   
    }
    .extra-content h3{
        font-size: 1rem;
    }
    .extra-content h1{
        font-size: 1.5rem;
    }
  }

  @media(max-width:780px){
    .weather-info{
        padding: 0 40px;
    }
    .weather-info .city{
        font-size: 2rem;
    }
    .weather-info .rain-percentage{
        font-size: 0.7rem;
    }

    .temp p{
        margin-left:-10px;
        font-size: 3rem;
    }
    .weather-info h1{
        font-size: 4rem;
    }
    .weather-info-image {
        width: 8rem;
    }
    .extra-content{
        width: 15rem;
    }
    .extra-content h3{
        font-size: 0.8rem;
    }
    .weather-info-air h3{
        font-size: 0.8rem;
    }
    .extra-content h1{
        font-size: 1.2rem;
    }
  }


  @media(max-width:580px){
    .weather-info{
        height: 12rem;
    }
    .extra-content{
        width: 10rem;
    }
    .forcast{
        padding:20px 10px ;
    }
    .forcast-info{
        width: 4rem;
        height: 6rem;
        padding-right: 20px;
    }
    .forcast h3{
        font-size: 0.8rem;
    }
    .degree{
        font-size: 1.2rem;
    }

  }

  @media(max-width:450px) {
    .forcast-info img{
        width: 2rem;
    }
    .forcast h3{
        font-size: 0.75rem;
    }
    .degree{
        font-size: 1.15rem;
    }
    .forcast{
        height: 10rem;
    }
    .weather-info-air{
        height: 9.25rem;
    }
    .extra-container{
        height: 8rem;
    }
    .weather-info-air h3{
        font-size: 0.75rem;
    }
    .extra-content h3{
        font-size: 0.75rem;
    }
    .extra-content h1{
        font-size: 1rem;
    }

  }

  @media(max-width:420px){
    .main{
        padding: 10px;
    }
    .extra-content{
        width: 8rem;
    }
    .weather-info-air{
        padding: 10px 20px;
    }
    .extra-content h1{
        font-size: 1.15rem;
    }
    .forcast{
        margin-top: 0;
    }
    .weather-info h1{
        font-size: 2.5rem;
    }
    .temp p{
        margin-left:-5px;
        font-size: 2rem;
    }
    .weather-info-content{
        margin-top:10px ;
    }
    .weather-info{
        height: 10rem;
    }
    .temp{
        margin: 10px;
    }
    .weather-info-image{
        width: 7rem;
    }
  }

  @media(max-width:380px){

    .forcast-info{
        height: 5rem;
        padding-right: 5px;
    }
    .forcast-info img{
        width: 1.55rem;
    }
    .forcast h3{
        font-size: 0.6rem;
    }
    .forcast-container{
        margin: 10px;
    }
    .degree{
        font-size: 1rem;
    }
  }





