:root{
    --primary-color:#eaecef82;
    --secondary-color:#9399A2;
    --accent-color:#293e60;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

.main{
    width: 100%;
    max-height: 100vh;
    background-color: #fff;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0px 40px;
}

.sidebar{
    background-color: var(--primary-color) ;
    backdrop-filter: blur(10px);
    width: 6rem;
    height: 48rem;
    margin: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    width: 40px;
    flex-basis: 20%;
    margin-top: 60px;
}

.sidebar-items{
    flex-basis: 80%;
    margin: 0 60px;
}

.logo img{
    width:100%;
}

.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 40px;
    cursor: pointer;
}

.items i{
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--secondary-color);
}

.items:hover i,
.items:hover p {
    color: var(--accent-color);
}


.items p{
    font-size: 0.87rem;
    font-weight: 500;
    color: var(--secondary-color);

}

.content{
    width: 55rem;
    height: 3rem;
    margin: 20px;
}

.searchbar{
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.searchbar i{
    margin-right: 20px;
    color:#9399A2;
    font-size: 1.5rem;
    cursor: pointer;
}

.searchbar input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0px 20px;
    font-size: 1rem;
}

.weather-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55rem;
    height: 15rem;
    margin: 1rem 0;
    padding: 20px 60px;
    border-radius: 15px;
}

.weather-info .city{
    font-size: 2.5rem;
    color:var(--accent-color);
    line-height: 3.2rem;
}

.weather-info p{
    font-size: 0.95rem;
    color: var(--secondary-color);
    
}
.temp{
    margin: 30px 0;
    display: flex;
}
.temp h1{
    font-size: 5rem;
    color: var(--accent-color);
}
.temp p{
    margin-left:-15px;
    font-size: 5rem;
    color: var(--accent-color);
}

.weather-info-image{
    width: 10rem;
    margin-top: -10px;
}
.weather-info-image img{
    width: 100%;
}


.forcast{
    width: 55rem;
    height: 13rem;
    margin: 1rem 0;
    padding: 20px 30px;
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.forcast h3{
    font-size: 1rem;
    color: var(--secondary-color);
}

.forcast-container{
    /* background-color:aqua; */
    width: 50rem;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.forcast-info{
    width: 6rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-right: 1px solid #9399a227;
}
.forcast-info:nth-child(6){
    border: none;
}

.forcast-info img{
    width: 3rem;
}

.degree{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-color);
}


.weather-info-air{
    width: 55rem;
    height: 14rem;
    padding: 20px 40px 0 40px;
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.weather-info-air h3{
    font-size: 1rem;
    color: var(--secondary-color);
}

.extra-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 40px ;
    /* margin-left: 60px ; */
    width: 50rem;
    height: 11rem;
}

.extra-content{
    width: 20rem;
    /* background-color: aqua; */
    text-align: center;
}

.extra-content h3{
    font-size: 1.28rem;
}

.extra-content h1{
    font-size: 2rem;
    margin-top: 5px;
    color: var(--accent-color);
}

.left-sidebar{
    background-color:var(--primary-color);
    backdrop-filter: blur(10px);
    width: 22rem;
    height: 48rem;
    margin: 20px;
    border-radius: 25px;
    /* text-align: center; */
}


.left-sidebar h3{
    margin: 20px;
    color: var(--secondary-color);
}

.week-container{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.weekly-forcast-container{
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom:1px solid #9399a227;
}

.weekly-forcast-container:nth-child(7){
    border:none;
}


.weekly-forcast-container img{
    width: 30px;
}

/* General Styles */
/* ... (Your existing styles) ... */

/* Responsive adjustments */
@media (max-width: 1300px) {
    .main {
        flex-wrap: wrap; /* Allow flex items to wrap */
    }

    .content {
        width: 100%; /* Adjust content width to fill the available space */
        margin: 10px;
        margin-left:0px;
         /* Update margin for smaller screens */
    }

    /* Adjust other elements' styles as needed for responsiveness */
    .sidebar {
        display: none; /* Adjust height to accommodate content */
    }
    .left-sidebar {
        display: none; 
    }


    .weather-info,
    .forcast,
    .weather-info-air,
    .extra-container,
    .left-sidebar {
        width: 100%; /* Utilize full width on smaller screens */
        margin: 10px; /* Update margins for smaller screens */
    }
}




